{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if not $img -}}
  {{/* 同一バンドル内に画像が見つからない場合、親フォルダ（他の言語バンドル）から探す */}}
  {{- range .Page.AllTranslations -}}
    {{- if not $img -}}
      {{- $img = .Resources.GetMatch $.Destination -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $img -}}
  <img src="{{ $img.RelPermalink }}" alt="{{ .Text }}" {{- with .Title }} title="{{ . }}"{{- end }} />
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{- with .Title }} title="{{ . }}"{{- end }} />
{{- end -}}
